<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greeting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
</head>
<body>
<div>
    <h1>Добро пожаловать!</h1>
    </div>
<div>
    <h1>Выберите режим пользователя</h1>
</div>
<div class="button-container">
    <button onclick="window.location.href='/player'">Player</button>
    <button onclick="window.location.href='/admin'">Admin</button>
</div>
</body>
</html>