<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}"/>
    <title>Player Page</title>
</head>
<body>
<div id="text-container">
    <h1 id="dynamic-text">Loading...</h1>
</div>
<div>
<button class="button-round" id="clickButton">PUSH</button>

</div>
<form>
    <label for="name"></label>Введите имя<input type="text" name="name" id="name" value="">
</form>

<script src="/js/getInfo.js"></script>
<script src="/js/clickAction.js"></script>

</body>
</html>